.form {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
}

.input {
    width: 100%;
    padding: 12px;
    background: #FAFAFA;
    border-radius: 5px;
    color: #000000;
    border-color: #FAFAFA;
    border-style: solid;
}

.label {
    width: 100%;
}

.form__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin-bottom: 16px;
}